/judge/migrations/
/login/migrations/
/media/
/speach/migrations/
/stats/migrations/
/WoofWaf/migrations/
/login/py/EGG/casia/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/speech_ai.iml
/.idea/vcs.xml
*.pyc
**.pyc
***.pyc
/.idea/*.xml
